<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/buyerpage/buyerMypageHome.css}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/review/seller_review_list.css}">

</head>
<body>
<div class="layout-wrapper">
  <header th:replace="~{fragments/header :: header}"></header>
  <!-- 헤더 -->

  <div class="page-container">
    <main class="mypage-container">
      <aside class="sidebar">
        <div class="sidebar-card">
          <div class="profile-box">
            <div class="profile-image">
              <img id="asideProfileImage" th:src="@{'/mypage/buyer/' + ${member.memberId} + '/image'}" alt="프로필 이미지">
            </div>
            <div class="profile-info">
              <a href="#" class="profile-badge">프로여행러 ></a>
              <div class="profile-name" th:text="${member.name}"></div>
              <form th:action="@{/mypage/role/toSeller}" method="post" style="margin-top: 10px;">
                <button type="submit" class="btn-role-switch">판매자 전환</button>
              </form>
            </div>
          </div>
          <nav class="mypage-nav">
            <div class="nav-title active">MY PAGE</div>
            <ul>
              <li><a href="#">주문 배송</a>
                <ul>
                  <li><a href="#">주문/배송 내역</a></li>
                </ul>
              </li>
              <li><a href="#">알림 및 메시지</a>
                <ul>
                  <li><a href="#">알림</a></li>
                  <li><a href="#">메시지</a></li>
                </ul>
              </li>
              <li><a href="#">나의 활동</a>
                <ul>
                  <li><a href="#">후기</a></li>
                  <li><a href="#">게시글</a></li>
                </ul>
              </li>
              <li><a href="#">관심</a>
                <ul>
                  <li><a href="#">찜한 상품</a></li>
                  <li><a href="#">팔로잉 가이드</a></li>
                  <li><a href="#">최근 본 상품</a></li>
                </ul>
              </li>
              <li><a href="#">내 정보</a>
                <ul>
                  <li><a href="#">회원 등급</a></li>
                  <li><a th:href="@{'/mypage/buyer/' + ${member.memberId}}">회원 정보 관리</a></li>
                  <li><a href="#">신용 카드 및 환불계좌 관리</a></li>
                  <li><a href="#">배송지 관리</a></li>
                  <li><a href="#">본인 인증</a></li>
                </ul>
              </li>
              <li><a href="#">고객센터</a>
                <ul>
                  <li><a href="#">1:1 문의</a></li>
                  <li><a href="#">상품 Q&A 내역</a></li>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">고객의 소리</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <section class="content">
        <div class="review_list">
          <h2>내가 작성한 리뷰 목록</h2>
          <hr>
          <div class="review_list_main">
            <!-- 검색박스 -->
            <div class="review-search-box">
              <input class="search-box-input" type="text" placeholder="상품명을 입력해주세요.">
            </div>
            <div class="overall-info">
              <div>총 1개 </div>
            </div>
            <hr>


          </div>
        </div>
      </section>
    </main>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script src="/js/review/buyer_review_list.js" type="module" defer></script>
<script src="/js/layout.js"></script>
</html>
